*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
    
}
.container{
    width: 83%;
    margin: auto;
   
}
.header{
    position: relative;
    height: 420px;
}
.image-container{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
}
.header-body-section{
    position: absolute;
    top:0;
    width: 100%;
    color: white;

}
.nav{
    font-weight: 550;
    height: 50px;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoContainer{
    display: flex;
    align-items:center ;
}
.logoContainer p{
    padding: 5px;
}
.nav ul{
    list-style: none;
    display: flex;
}
.nav ul li{
    padding:0px 3px;
    margin-right: 25px;
    font-size: 20px;
    color: white;
    font-weight: 100;
}
.nav ul li a{
    color:inherit ;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;  
}
.header-body-content{
    position: relative;
    top: -50x;
}
.header-body-section-discover{
    font-size: 40px;
    margin: 25px;
}
.search-container{
    background-color: white;
    width: 100%;
    height: 50px;
    max-width: 760px;
    border-radius: 10px; ;
    display: flex;
    align-items: center;
    padding: 7px;
    color: black;
}
.detectionLocation input{
    font-size: 15px;
    border: none;
    width: 190px;
}
.line{
    padding: 7px;
}
.search-item{
    font-size: 12px;
}
.search-item input{
    max-width: 100%;
    width: 400px;
    font-size: 15px;
    border: none;
    padding: 5 10px;
    outline: none;
}
/** section 1 feature ***/
.section-1{
    margin-top: 40px;
    margin-bottom: 40px;
    
}
.container-feature{
    display: flex;
    justify-content: center;
    
}
.features{
    overflow: hidden;
    border-radius: 20px;
    border: 0.1px solid rgb(210, 208, 208);
    margin: 7px;
    
    
}
.feature-image{
    width: 500px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
   /* margin: 10px; */
    
    
}
.feature-image img{
    width: 100%;
    background-position-y: -100px;
    
    

}
.features h3,
.features p{
    padding-left: 20px;
}
.features:hover{
    transition: 300ms;
    transform: scale(1.04);
    cursor: pointer;
}
/* section{
    padding: 50px 0;
} */

/**section-2**/
.section-2-left h1{
    font-size: 40px;
    margin-bottom: 0px;
    padding-left: 240px;
}
.section-2-left p{
    font-size: 20px;
    margin-top: 0px;
    letter-spacing: 1px;
    font-weight: 200px;
    padding-left: 240px;
}
.section-2-body-container{
    display: flex;
    padding-left: 240px;
}
.section-2-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section-2-right{
    align-self: flex-end;
    color: rgb(241, 98, 98);
    padding-right: 140px;
}
.section-2-item{
    max-width: 267px;
    height: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) ;
    border-radius: 5px;
    overflow: hidden;
    position:relative;
    margin-left: 0.7cm;
    
}
.section-2-item:first-child{
    margin-left: 0px;
}
.section-2-item img{
   width: 100%; 
   height: 100%;
   box-shadow: inset -50px -50px 50px rgba(0, 0, 0, 0.2);

}
.section-2-image-description{
    padding: 0 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.section-2-image-description p{
    margin: 0;
    font-size: 19px;
}
.section-2-image-description p:nth-child(2){
    font-size: 18px;
}
.section-2-body{
    display: flex;

}

/* section-----3 */
.section-3{
    margin: 100px 0;
}
.section-3 h1{
    font-size: 40px;
    font-weight: 300;
    color: rgb(36, 36, 36);
}
.section-3 h3{
    font-weight: 300;
    font-size: 23px;
    margin: 0;
}
.section-3 p{
    font-size: 18px;
    margin-bottom: 0;
    justify-self: flex-end;
}
.localities_list{
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px 15px;
    height: 80px;
    /* background-color: red; */
}
.localities_card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: green; */
}
/* section ---2 */
.section--2{
    padding-top: 50px;
    width: 1080px;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding-left: 20px;
}
.section--2--heading{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400px;
}
.section--2 .section--2--container .section--2--items{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.section--2 .section--2--container .section--2--items .section--2--item{
    width: 100%;
    max-width: 26%;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(215, 215, 215);
    padding: 20px;
}
.section--2--item .item--head{
    font-size: 1.2rem;
    color: rgb(37, 37, 37);
    margin: 0;
    margin-bottom: 5px;
}
.section--2--item .item--subhead{
    font-weight: lighter;
    color: gray;
    margin: 0;

}

/* SECTION--3 */

.section--3{
    height: 620px;
    background-color: rgb(255, 251, 247);
}
.section--3--container{
    width: 1080px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section--3--img{
    width: 40%;
}
.section--3--img img{
    width: 400px;
}
.section--3--content h1{
    font-size: 2.5rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section--3--content p{
    font-size: 1.2rem;
    font-weight: lighter;
    margin: 0;
    margin-bottom: 15px;
}
.section--3--download img{
    width: 40%;
}

/* FOOTER  */
footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}